.inputOption{
    display: flex;
    margin-top: 15px;
    padding: 10px;
    color: black;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}

.inputOption > span{
    margin-right: 10px;
}

.inputOption:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}

.inputOption > h4 {
    margin-left: 5px;
}

.inputOption > label > h4{
    text-align: center;
}